/* 스크롤 */
html {scrollbar-width: 10px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #00D344;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #00D344;}
header {
    height: 110px; width: 100%;
    background: #000;
    display: flex; align-items: center;
    position: relative;
    z-index: 999;
    position: fixed;
}
header .header_bg {
    width: 1200px; height: 110px;
    display: flex; align-items: center; justify-content: space-between;
    margin:0 auto;
    position: relative;
}
header nav {
    display: flex;
}
header nav h1 {}
header nav h1 a {
    display: block;
    width: 150px; height: 50px;
}
header nav h1 a img {width: 100%;}
header nav ul {
    display: flex; align-items: center;
}
header nav ul li {margin-left: 40px;}
header nav ul li a {
    font-family: '티머니L';
    font-size: 1.25rem;
    color:#fff;
}
/* 햄버거 메뉴 */
header .showHide {display: none;}
header nav .m_nav a {
    width: 30px; height: 25px;
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    position: absolute; right:50px; top:42px;
}
header nav .m_nav {display: none;}
header nav .m_nav span {
    width: 100%; height: 4px;
    background: #00D344;
    border-radius: 5px;
}
header nav .m_nav_open {
    display: none;
    width: 250px; height: 100vh;
    position: absolute; top:110px; right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
}
header nav .m_nav_open .m_nav_top {
    display: flex; flex-flow: column nowrap;
}
header nav .m_nav_open .m_nav_top a {
    width: 100%; text-align: right;
    font-size: 1.5625rem; padding: 20px 50px;
    color:#fff;
}
header nav .m_nav_open .m_nav_top a:hover {
    /* background:#fff; */
    color:#00D344;
    font-weight: 500;
}
header nav .m_nav_open > a {
    display: block;
    width: 100%;
    text-align: right;
    padding: 20px 50px;
    font-size: 1.5625rem;
    position: absolute; bottom: 110px;
    color:#00D344;
}
header nav .m_nav_open > a i {font-size: 1.2rem; margin-right: 10px;}
header nav .m_nav_open > a:hover {background:rgba(255,255,255,0.9); font-weight: 500;}
/*  */
header .nav_right {display: flex; align-items: center;}
header .nav_right form {}
header .nav_right form fieldset {
    display: flex; align-items: center; justify-content: space-between;
    width: 300px;
    border:2px solid #00D344;
    padding: 10px 20px;
    border-radius: 100px;
    margin-right: 15px;
}
header .nav_right form fieldset input {
    width: 95%; background: none; 
    color:#fff;
    font-size: 0.75rem;
}
header .nav_right form fieldset input::-ms-clear {
    content:'';
    display: none;
}
header .nav_right form fieldset input::placeholder {
    font-size: 0.75rem; color:#fff; opacity: 0.8; position: relative; top:-1px;
}
header .nav_right form fieldset button {width: 20px; background: none; position: relative; top:1px}
header .nav_right form fieldset button img {width: 100%;}
header .nav_right a i {color:#00D344; font-size: 1.5rem;}

/* footer */
footer {
    color:#fff;
    background: #000;
    padding: 30px; width: 100%;
    /* position: relative; top:-500px; */
}
footer .footer_bg {
    width: 1200px; margin: 0 auto;
    display: flex; justify-content: space-between;
}
footer .logo {}
footer .logo h1 {width: 120px;}
footer .logo h1 a {}
footer .logo h1 a img {width: 100%;}
footer .logo p {
    font-size: 0.875rem;
    line-height: 20px;
    margin: 20px 0;
}
footer .logo .call {
    font-size: 0.875rem;
    margin-bottom:15px;
}
footer .logo .mail {
    font-size: 0.875rem;
}
footer .logo i {
    color: #00D344;
    margin-right: 30px;
}
footer .infor {
    display: flex;
}
footer .infor .infor_1 {
    display: flex; flex-flow: column nowrap; margin-right: 40px;
}
footer .infor .infor_2 {
    display: flex; flex-flow: column nowrap;
}
footer .infor p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #00D344;
    margin-bottom: 23px;
}
footer .infor a {
    font-size: 0.875rem;
    color:#fff;
    margin-bottom: 10px;
}
footer .infor a:last-child {margin: 0;}
footer .right {
    display: flex; flex-flow: column nowrap; align-items: flex-end;
}
footer .right .mail {margin-bottom: 30px;}
footer .right .mail p {
    margin-bottom: 20px;
}
footer .right .mail form {}
footer .right .mail form fieldset {
    border:1px solid #00D344;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}
footer .right .mail form fieldset i {color: #00D344; margin-right: 10px;}
footer .right .mail form fieldset input::-ms-clear {
    content:'';
    display: none;
}
footer .right .mail form fieldset input {
    background:none; color:#fff;
    font-size: 0.75rem;
    width: 80%;
}
footer .right .mail form fieldset input::placeholder {
    font-size: 0.75rem; position: relative; top:-2px;
}
footer .right .mail form button {
    font-size: 0.75rem;
    padding: 5px 15px;
    background-color: #00D344;
    border-radius: 5px;
}
footer .right .sns {display: flex;}
footer .right .sns a {
    display: block;
    width: 30px; height: 30px;
    border-radius: 25px;
    background: #00D344;
    text-align: center;
}
footer .sns a:nth-child(2) {margin: 0 15px;}
footer .right .sns a i {
    color:#000; line-height: 30px;
    font-size: 1.2rem;
}