main {
    background: #f2f2f2; width: 100%; height: 100%;
    padding-bottom: 100px;
}
main #dj {
    /* background-color: #f2f2f2; */
    position: relative; padding-top: 110px;
}
main #dj h2 {
    font-family: '티머니';
    text-align: center;
    font-size: 1.8125rem;
    margin-top: 100px;
    color: #00D344;
}
main #dj .dj_btm {
    width: 1060px; margin: 0 auto; 
    padding: 50px 0;
}
main #dj .title {
    display: flex; align-items: center; justify-content: space-between;
}
main #dj .title h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 17px;
}
main #dj .title a {}
main #dj .title a i {
    color:#aaa; font-size: 1.5rem; position: relative; top:-5px
}
main #dj ul {
    display: flex; justify-content: space-between;
}
main #dj ul li {width: 250px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}
main #dj ul li a {}
main #dj ul li a .img {height: 250px;}
main #dj ul li a .dj_bg {background: #fff; transition: all 0.5s;}
/*  */
main #dj .dj_1 ul li:nth-child(1) a .img {background: url(../images/dj/dj1_1.jpg) no-repeat;}
main #dj .dj_1 ul li:nth-child(2) a .img {background: url(../images/dj/dj1_2.jpg) no-repeat;}
main #dj .dj_1 ul li:nth-child(3) a .img {background: url(../images/dj/dj1_3.jpg) no-repeat;}
main #dj .dj_1 ul li:nth-child(4) a .img {background: url(../images/dj/dj1_4.jpg) no-repeat;}
/*  */
main #dj .dj_2 ul li:nth-child(1) a .img {background: url(../images/dj/dj2_1.jpg) no-repeat; background-size: cover;}
main #dj .dj_2 ul li:nth-child(2) a .img {background: url(../images/dj/dj2_2.jpg) no-repeat; background-size: cover;}
main #dj .dj_2 ul li:nth-child(3) a .img {background: url(../images/dj/dj2_3.jpg) no-repeat; background-size: cover;}
main #dj .dj_2 ul li:nth-child(4) a .img {background: url(../images/dj/dj2_4.jpg) no-repeat; background-size: cover;}
/*  */
main #dj .dj_3 ul li:nth-child(1) a .img {background: url(../images/dj/dj3_1.jpg) no-repeat;}
main #dj .dj_3 ul li:nth-child(2) a .img {background: url(../images/dj/dj3_2.jpg) no-repeat;}
main #dj .dj_3 ul li:nth-child(3) a .img {background: url(../images/dj/dj3_3.jpg) no-repeat;}
main #dj .dj_3 ul li:nth-child(4) a .img {background: url(../images/dj/dj3_4.jpg) no-repeat;}
/*  */
main #dj ul li a .dj_txt {padding: 30px 0 0 20px;}
main #dj ul li a .dj_txt .title {
    font-size: 1.25rem;
    margin-bottom: 20px;
    line-height: 29px;
}
main #dj ul li a .dj_txt .sub {}
main #dj ul li a .dj_txt .sub em {color:#9C00D3}
main #dj ul li a .heart {
    color:#aaa;
    padding: 20px 0 0 20px;
}
main #dj ul li a .heart i {margin-right: 15px;}
main #dj ul li a .heart span {}
main #dj ul li a .heart span:nth-child(2)::after {
    content: '';
    display: inline-block;
    width: 1px; height:13px;
    background: #aaa;
    margin: 0 15px;
}
main #dj ul li a .tag {
    padding: 20px 0 30px 20px;
}
main #dj ul li a .tag span {
    display: inline-block;
    color: #aaa;
    font-size: 0.75rem;
    border:1px solid #aaa;
    border-radius: 50px;
    padding: 5px 10px;
}
main #dj ul li a:hover .img {background-size: 50%;}
main #dj ul li a:hover .dj_bg {background-color: #000;}
main #dj ul li a:hover .dj_txt p em {font-weight: 700;}
main #dj ul li a:hover .dj_txt {color:#fff;}
main #dj ul li a:hover .heart i {color: #FF004C;}
main #dj ul li a:hover .tag span {
    background: #00D344; border:1px solid #00D344; color:#000;
    font-weight: 700;
}
main .playing_bg {
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.10);
    z-index: 999;
}
main .playing_bg .playing {
    width: 1200px; margin: 0 auto; justify-content: space-between; align-items: center;
    display: flex;
}
main .playing_bg .playing .icon {
    display: flex; align-items: center;
}
main .playing_bg .playing .icon a {}
main .playing_bg .playing .icon a img {}
main .playing_bg .playing .icon .prev {}
main .playing_bg .playing .icon .stop {
    margin: 0 10px;
}
main .playing_bg .playing .icon .next {}
main .playing_bg .playing .time_bg {
    width: 650px; height: 5px;
    background-color: #d9d9d9;
    position: relative;
}
main .playing_bg .playing .time_bg .time {
    width: 650px; height: 5px;
    background-color: #6f6f6f;
    animation: time 120s linear infinite;
    transform-origin: left;
}
@keyframes time {
    0% {transform:scaleX(0)}
    100% {transform: scaleX(1);}
}
main .playing_bg .playing .time_bg p {
    width: 12px; height: 12px; background-color:#00D344; border-radius: 50px;
    border: 1px solid #000;
    animation: play 120s linear infinite;
}
@keyframes play {
    0% {position: relative; left:0; top:-8px;}
    100% {position: relative; left:650px; top:-8px;}
}
main .playing_bg .playing .album {
    display: flex; align-items: center;
}
main .playing_bg .playing .album a {}
main .playing_bg .playing .album a:nth-child(2) {margin: 0 20px;}
main .playing_bg .playing .album a img {}
main .playing_bg .playing .album > img {
    width: 50px; height: 50px;
}